body {
    background-color: #897dc0;
}

nav {
    font: 300 14px Helvetica, Arial, sans-serif;
    background-color: #f6cbe8
}

a:link {
    color: #7700a7;
    text-decoration: none;
}

a:visited {
    color: #490049;
}

a:hover {
    color: #ba6bce;
    text-decoration: none;
}

h1 {
    color: #fdfcff;
    font: 800 39px "Courier New", monospace
}

h2 {
    color: #9617a1;
    font: 600 26px "Courier New", monospace
}

p {
    color: #690c2c;
    font: 300 14px Helvetica, Arial, sans-serif
}

figcaption {
    color: #690c2c;
    font: 300 14px Helvetica, Arial, sans-serif
}

header {
    background-color: #f4cde7
}

section {
    background-color: #f8eff5
}

table {
    font: 300 14px Helvetica, Arial, sans-serif;
    color: #ffe8f0;
    background-color: #7b588a
}

caption {
    font: 300 14px Helvetica, Arial, sans-serif
}

footer {
    font: 300 14px Helvetica, Arial, sans-serif;
    background-color: #f6cbe8
}

.pcolor {
    color: #ffffff;
}

.secolor {
    background-color: #c4a4ff
}

form {
    color: #ffe8f0;
    font: 300 14px Helvetica, Arial, sans-serif
}

::placeholder {
    color: #ca859d;
    font: 300 14px Helvetica, Arial, sans-serif
}