body {
    background-color: #bf8ecb;
}

nav {
    font: 300 14px Helvetica, Arial, sans-serif;
    background-color: #eab4d9
}

a:link {
    color: #8400b9;
    text-decoration: none;
}

a:visited {
    color: #490049;
}

a:hover {
    color: #ba6bce;
    text-decoration: none;
}

h1 {
    color: #7e30d7;
    font: 800 39px "Courier New", monospace
}

h2 {
    color: #9617a1;
    font: 600 26px "Courier New", monospace
}

p {
    color: #690c2c;
    font: 300 14px Helvetica, Arial, sans-serif
}

header {
    background-color: #eedce8
}

section {
    background-color: #f8eff5
}

table {
    font: 300 14px Helvetica, Arial, sans-serif;
    color: #690c2c;
    background-color: #e6ccf2
}

caption {
    font: 300 14px Helvetica, Arial, sans-serif
}

footer {
    font: 300 14px Helvetica, Arial, sans-serif;
    background-color: #eab4d9
}

.pcolor {
    color: #ffffff;
}

.secolor {
    background-color: #c8a2e5
}